
menuentry '{{ iso_url | basename | splitext | first }} (PXE generic)' {

	echo "Loading Kernel..."
	linux vmlinuz ramdisk_size=1500000 ip=dhcp fsck.mode=skip url="http://{{ http_ip }}/iso/{{ iso_url | basename }}" autoinstall ds="nocloud-net;s=http://{{ http_ip }}/ks/" root=/dev/ram0 cloud-config-url=/dev/null

	echo "Loading Ram Disk..."
	initrd initrd

}
