#DEFAULT vesamenu.c32
TIMEOUT 600
ONTIMEOUT focal-live-install-autoinstall
PROMPT 0
#PROMPT 1

NOESCAPE 1

#DEFAULT install
LABEL install
  	KERNEL vmlinuz
  	INITRD initrd
  	APPEND root=/dev/ram0 ramdisk_size=1500000 ip=dhcp url=http://{{ http_ip }}/iso/{{ iso_url | basename }}

LABEL focal-live-install
        MENU label Install focal
        KERNEL vmlinuz
        INITRD initrd
        APPEND root=/dev/ram0 ramdisk_size=1500000 ip=dhcp url=http://{{ http_ip }}/iso/{{ iso_url | basename }}

LABEL focal-live-install-autoinstall
        MENU DEFAULT
        MENU label Install focal - autoinstall
        KERNEL vmlinuz
        INITRD initrd
        APPEND root=/dev/ram0 ramdisk_size=1500000 ip=dhcp url=http://{{ http_ip }}/iso/{{ iso_url | basename }} autoinstall ds=nocloud-net;s=http://{{ http_ip }}/ks/ cloud-config-url=/dev/null


LABEL local-drive
  MENU label Boot from ^local drive
  localboot 0x80

menu end

