#cloud-config
#https://ubuntu.com/server/docs/install/autoinstall-reference
autoinstall:
  locale: "es_ES.UTF-8"
  keyboard:
    layout: "es"
    variant: ""
    #toggle: null
  apt:
    geoip: true
    preserve_sources_list: false
    primary:
    - arches: [amd64, i386]
      uri: http://archive.ubuntu.com/ubuntu
    - arches: [default]
      uri: http://ports.ubuntu.com/ubuntu-ports
  identity:
    hostname: {{ hostvars[item].hostname | default('ubuntu-server')}}
    password: {{ server_password | string | password_hash('sha512', 65534 | random(seed=inventory_hostname) | string ) }}
    realname: {{ server_user }}
    username: {{ server_user }}
{% if hostvars[item].storage is defined %}
  storage:
  # Samples:
  # https://docs.rackn.io/en/latest/doc/operations/imagedeploy-storage.html
  # https://curtin.readthedocs.io/en/latest/topics/storage.html
    layout:
      name: direct
      match:
        ssd: yes
        size: smallest
      swap:
        size: {{ hostvars[item].storage.swap.size | default('0') }}
    {{ hostvars[item].storage | to_nice_yaml | indent(6) }}
{% endif %}
{% if hostvars[item].mac is defined %}
  network:
    version: 2
    # To debug this section, use this on machine:
    #   sudo netplan try
    ethernets:
      eno1:
    #    wakeonlan: true
        dhcp4: false
        addresses:
          - {{ hostvars[item].external_ip }}/{{ hostvars[item].external_mask}}
        routes:
          - to: default
            via: {{ hostvars[item].external_gw }}
        nameservers:
          addresses:
            - 80.58.61.250
            - 80.58.61.254
          search:
            - internal.lorien.cloud
{% else %}

{% endif %}
{% if hostvars[item].vlans is defined %}
{% set myvlan = hostvars[item].vlans %}
    vlans:
      vlan10:
        id: {{ myvlan.id | string }}
        link: {{ myvlan.link | string | default('id0') }}
        dhcp4: no
        addresses:
          -  {{ myvlan.ip }}/{{ myvlan.mask }}
{% endif %}
#      eth0: {dhcp4: true}
#      eth1: {critical: true, dhcp-identifier: mac, dhcp4: true}
  ssh:
    allow-pw: true
    authorized-keys: ["{{ ssh_public_key }}"]
    install-server: true
  interactive-sections:
{% if hostvars[item].storage is not defined %}
    - storage
{% endif %}
  updates: security
  version: 1
