#cloud-config
# https://ubuntu.com/server/docs/install/autoinstall-reference
#samples on:
# https://docs.rackn.io/en/latest/doc/operations/imagedeploy-storage.html
# https://curtin.readthedocs.io/en/latest/topics/storage.html
# https://github.com/canonical/curtin/blob/master/examples/tests/simple-storage.yaml
# https://ubuntu.com/server/docs/install/autoinstall-schema#Schema
# https://gist.github.com/noslin005/9b409735bf85df225c17a69e89e381a6
autoinstall:
  identity:
    hostname: {{ hostvars[item].hostname | default('ubuntu-server')}}
    password: {{ server_password | string | password_hash('sha512', 65534 | random(seed=inventory_hostname) | string ) }}
    realname: {{ server_user }}
    username: {{ server_user }}
  keyboard:
    layout: "es"
    toggle: null
    variant: ""
    #layout: hu
  #locale: hu_HU.UTF-8
  locale: "es_ES.UTF-8"
{% if hostvars[item].network is defined %}
  network:
    version: 2
    # To debug this section, use this on machine:
    #   sudo netplan try
    ethernets:
{% for i in hostvars[item].network %}
      {{ i.interface }}:
    #    wakeonlan: true
        dhcp4: {{ i.dhcp4 | default('false') }}
        {% if i.addresses -%}
        addresses:
          {{ i.addresses | to_nice_yaml | indent(12) }}
        {% endif -%}
        routes:
          - to: default
            via: {{ dhcpd_gateway }}
        nameservers:
          addresses:
            {{ dns_servers | to_nice_yaml | indent(12) }}
{% if dns_search != [] %}
          search:
            {{ dns_search | to_nice_yaml | indent(12) }}
{%- endif -%}
{%- endfor -%}
{%- endif -%}
{%- if hostvars[item].vlans is defined %}
    vlans:
{% for myvlan in hostvars[item].vlans %}
{% set firstlink = hostvars[item].network | first %}
      vlan10:
        id: {{ myvlan.id | string }}
        link: {{ myvlan.link | default(firstlink) }}
        dhcp4: no
        addresses:
          {{ myvlan.addresses | to_nice_yaml | indent(10) }}
{% endfor -%}
{% endif %}
  packages:
    - less
    - vim
    - net-tools
    - openntpd
  ssh:
    allow-pw: false
    authorized-keys: ["{{ ssh_public_key }}"]
    install-server: true
{% if hostvars[item].storage is defined %}
  storage:
    {{ hostvars[item].storage | to_yaml(indent=4) | indent(4) }}
{% endif %}
  late-commands:
  - 'echo "{{ server_user }} ALL=(ALL) NOPASSWD:ALL" > /target/etc/sudoers.d/{{ server_user }}-nopw'
  - chmod 440 /target/etc/sudoers.d/{{ server_user }}-nopw
  - chroot /target apt-get -y -q purge snap snapd
  - chroot /target apt-get -y -q purge packagekit
  - chroot /target apt-get -y -q purge polkitd
  - chroot /target apt-get -y -q purge --auto-remove multipath-tools
  - sed -i 's/^servers.*//g' /etc/openntpd/ntpd.conf
  - echo servers hora.roa.es >> /etc/openntpd/ntpd.conf
  - echo servers minuto.roa.es >> /etc/openntpd/ntpd.conf

  version: 1
  updates: security
{% if hostvars[item].storage is not defined or hostvars[item].network is not defined  %}
  interactive-sections:
{% if hostvars[item].storage is not defined %}
    - storage
{% endif %}
{% if hostvars[item].network is not defined %}
    - network
{% endif %}
{% endif %}